<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--*********************************************************************************************************
    
    [共通設定]
      ①ThisServer・・・このサーバをなんと呼ぶか（localhost or 192.168.10.110）
	  ②Defaultscmpath・・・デフォルトスキーマのパス（D:\\PrismApp\\scene\\Default.scm）
	  ③Saveimagepath・・・画像の保存先パス（D:\\PrismApp\\ok.png）
	  ④ThisServer・・・このサーバをなんと呼ぶか（localhost or 192.168.10.110）
    *********************************************************************************************************-->
		<!--①このサーバー名-->
		<add key="ThisServer" value="localhost"/>
		<!--②デフォルトスキーマのパス-->
		<add key="Defaultscmpath" value="D:\\PrismApp\\scene\\Default.scm"/>
		<!--③画像の保存先パス-->
		<add key="Saveimagepath" value="D:\\PrismApp\\ok.png"/>
		<!--④DBサーバー-->
		<add key="DumpScenePath" value="D:¥¥PrismApp¥¥PrismApp.scn"/>
	</appSettings>
</configuration>