<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--*********************************************************************************************************
    
    [共通設定]
      ①ThisServer・・・このサーバをなんと呼ぶか（localhost or 192.168.10.110）
	  ②Defaultscmpath・・・デフォルトスキーマのパス（D:\\PrismApp\\scene\\Default.scm）
	  ③Saveimagepath・・・画像の保存先パス（D:\\PrismApp\\ok.png）
	  ④ImageFolderPath・・・作画で使用する画像ファイルのフォルダパス（localhost or 192.168.10.110）
	  ⑤DumpScenePath・・・ダンプシーン出力先ファイルパス（D:¥¥PrismApp¥¥PrismApp.scn）
	  ⑥ImportImagePath・・・インポート画像のパス（D:¥¥PrismApp¥¥PrismApp.scn）
    *********************************************************************************************************-->
		<!--①このサーバー名-->
		<add key="ThisServer" value="test.yuiiuy.net"/>
		<!--②デフォルトスキーマのパス-->
		<add key="Defaultscmpath" value="D:\\PrismApp\\scene\\Default.scm"/>
		<!--③画像の保存先パス-->
		<add key="Saveimagepath" value="D:\\PrismApp\\ok.png"/>
		<!--④作画で使用する画像ファイルのフォルダパス-->
		<add key="ImageFolderPath" value="D:\\PrismApp\\scene\\images"/>
		<!--⑤ダンプシーンのフォルダ-->
		<add key="DumpScenePath" value="D:¥¥PrismApp¥¥PrismApp.scn"/>
		<!--⑥ユーザーの画像のパス-->
		<add key="UserImagePath" value="D:\PrismApp\scene\images\import.png"/>
	</appSettings>
</configuration>